#adminmenu {
	height: 27px;
}	
	
#adminmenu li a:hover {
	border:0px;
	padding-bottom:2px;
	}

#adminmenu li a, #adminmenu li a:visited {
	padding: 1px 10px;
	line-height: 200%;
	}
	
#adminmenu li:hover a{
	height:auto;	
}

#adminmenu li a #awaiting-mod {
	margin-left: -0.2em;
	margin-top: 0.1em;
}

#adminmenu li a:hover ul {
	display: block; 
	position: absolute; 
	left: -40px;
	margin-top:0px;
	}
	
#adminmenu li a:hover ul li a {
	display: block;
	height: auto;
	}