#adminmenu .speciall {color:#999}

#wphead {border-bottom-color:#C6D9E9;}

#adminmenu {background-color:#464646;}	

#adminmenu li a {color: #D7D7D7;}	

#adminmenu li ul {
	border-left-color:#FFF;
	border-right-color:#FFF;
	border-bottom-color:#FFF;
	background-color:#464646;
	}
	
#adminmenu a.current {
	color:#2c2c2c;
	background-color:#E4F2FD;
	}
	
#adminmenu li:hover a.current {
	color:#FFF;
	background-color:#464646;	
	}	

	
#adminmenu li:hover a{
	color:#fff;
	background-color:#464646;
}

#adminmenu li:hover ul li a {
	background-color:#464646;
	color:#D7D7D7;	
	}
	
#adminmenu li:hover ul li a:hover {
	background-color:#E4F2FD;
	color:#993300;
	}
	
#adminmenu li:hover ul li a.current {
	background-color:#E4F2FD;
	color:#555;
	}
