#adminmenu .speciall {color:#ccc}

#wphead {border-bottom-color:#07273E;}

#adminmenu {background-color:#07273E;}	
	
#adminmenu li a {color: #88B4D7;}	

#adminmenu li ul {

	border-top-color:#07273E;
	border-left-color:#14568A;
	border-right-color:#14568A;
	border-bottom-color:#14568A;
	background-color:#07273E;
	}
	
#adminmenu a.current {
	color:#CFEBF6;
	background-color:#14568A;
	}
	
#adminmenu li:hover a.current {
	background-color:#07273E;
	color:#FFF
	
	}	
	
#adminmenu li:hover a{
	color:#fff;
	background-color:#07273E;
}

#adminmenu li:hover ul li a {
	background-color:#07273E;
	color:#D7D7D7;	
	}
	
#adminmenu li:hover ul li a:hover {
	background-color:#14568A;
	color:#FFF;
	}
	
#adminmenu li:hover ul li a.current {
	background-color:#14568A;
	color:#CCC;
	}	
