/* ==  Lighter Admin Drop Menus - italyisfalling.com == */

#sidemenu, #dashmenu {display:none}
#media-upload-header #sidemenu {display:block}
#wphead {margin-bottom:10px; border-bottom: solid 1px #C6D9E9}
#adminmenu {
	top:0;
	left:0;
	position:absolute;
	height: 24px;
	background-color:#464646;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top:3px;
	border:none;
	}

#adminmenu table {
	width: auto;
	height:0px;
	margin:0px;
	border-collapse:collapse;
	border:none;
	}	

#adminmenu a {
	text-decoration: none;
	}
	
#adminmenu a.current {
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	-khtml-border-top-left-radius: 2px;
	-khtml-border-top-right-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;	
	}
	
#adminmenu table td {
	border: 0 !important;
	}

#adminmenu li {
	float:left;
	position:relative;
	text-align: left;
	}
	
#adminmenu li a {
	display:block;
	text-decoration:none;
	padding: 0px 10px 0px 11px;
	color: #D7D7D7;
	font-weight: normal;
	font-size:small;
	z-index: 1;
	}

#adminmenu li ul {
	display: none;
	list-style-type: none;
	z-index: 2;
	padding:0px;
	border-left: solid 1px #FFF;
	border-right: solid 1px #FFF;
	border-bottom: solid 1px #FFF;
	padding-bottom:10px; /*crucial for the radius*/
	padding-top:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-khtml-border-bottom-left-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color:#464646;
	width:210px;
	}
	
#adminmenu a.current,#adminmenu li:hover a.current {
	color:#2c2c2c;
	background-color:#E4F2FD;
	border:0px;
	}
#adminmenu li:hover a{
	color:#fff;
	background-color:#464646;
}

#adminmenu li:hover ul {
	display:block;
	position:absolute;
	left:-1px;
	top:27px;
	}

#adminmenu li:hover ul li {}

#adminmenu li:hover ul li a {
	background-color:#464646;
	color:#D7D7D7;
	font-size:small;
	height:auto;
	line-height: 110%;
	width:200px;
	margin-top: 0px;
	margin-bottom:0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:0px;
	padding-left:10px;
	
	}
	
#adminmenu li:hover ul li a:hover {
	background-color:#E4F2FD;
	color:#993300;
	}
#adminmenu li:hover ul li a.current {
	background-color:#E4F2FD;
	color:#555;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	-khtml-border-top-left-radius: 0px;
	-khtml-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;	

	}
.current {
	font-weight: normal !important;
	}
	
#submenu, #submenu .current, #submenu a, #submenu a:hover, #submenu li {display:none}